In [1]:
# We'll learn how to automate this sort of list in the next lecture
l = [1,2,3,4,5,6,7,8,9,10]

In [2]:
for num in l:
    print num

1
2
3
4
5
6
7
8
9
10

In [3]:
17 % 5 #Modulo

2

In [6]:
c = ['apples', 'pears', 'grapes', 'oranges']

In [8]:
for fruit in c:
    print fruit

apples
pears
grapes
oranges

In [9]:
d = ['cars', 'planes', 'trains', 'automobiles']

In [10]:
for transport in d:
    print transport

cars
planes
trains
automobiles

In [11]:
e = ['computer', 'tablets', 'phones', 'modems', 'TV', 'Washing Machines' ]

In [12]:
for Electrics in e:
    print Electrics

computer
tablets
phones
modems
TV
Washing Machines

In [13]:
10 % 3  #Modulo

1

In [14]:
18 % 7

4

In [15]:
4 % 2

0

In [16]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
for num in l:
    if num % 2 == 1:
        print num
    else:
            print ' Even number'

1
 Even number
3
 Even number
5
 Even number
7
 Even number
9
 Even number

In [22]:
l =[1,2,3,4,5]

In [38]:
list_sum = 5

for num in l:
    list_sum = list_sum + num
    
print list_sum

20

In [24]:
d

['cars', 'planes', 'trains', 'automobiles']

In [35]:
list_sum = 'Vehicles'

for modes in d:
    list_sum = list_sum + ', bike'
    
print list_sum

Vehicles, bike, bike, bike, bike

In [39]:
s = 'this is a string!'

In [41]:
for letter in s:
    print letter

t
h
i
s

i
s

a

s
t
r
i
n
g
!

In [43]:
tup = (1,2,3,4,5)

for item in tup:
    print item

1
2
3
4
5

In [45]:
l = [(2,4), (6,8,), (10,12)]

In [ ]:
# index that tup list

In [49]:
l[2][0]

10

In [46]:
for tup in l:
    print tup

(2, 4)
(6, 8)
(10, 12)

In [54]:
for (t1,t2) in l:
    print t1-t2

-2
-2
-2

In [50]:
 d = {'k1':1,'k2':2,'k3':3}

In [52]:
for key in d:
    print key

k3
k2
k1

In [59]:
# Create a generator
for key,item in d.iteritems():
    print key , 'key' , item, 'item'

k3 key 3 item
k2 key 2 item
k1 key 1 item

In [5]:
list = [1,2,3,4,5,6,8,10]
for num in list:
    print num

1
2
3
4
5
6
8
10

In [14]:
for num in list:
    if num % 2 == 1:
        print num
    else:
            print 'Even number'

1
Even number
3
Even number
5
Even number
Even number
Even number

In [16]:
list_sum = 0

for num in list:
    list_sum += num
    
print list_sum

39

In [19]:
l = [(2,4),(6,8),(10,12)]

In [20]:
for tup in l:
    print tup

(2, 4)
(6, 8)
(10, 12)

In [23]:
for (t1,t2) in l:
    print t1 * t2

8
48
120

In [24]:
d = {'k1':1, 'k2':2, 'k3':3}

In [26]:
d

{'k1': 1, 'k2': 2, 'k3': 3}

In [27]:
for item in d:
    print item

k3
k2
k1

In [31]:
for keys , values in d.iteritems():
    print keys    
    print values

k3
3
k2
2
k1
1