# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers:Numbers can be + or - whole integers or floating point numbers 

Strings: Strings are lines of text included in single or double quotes. using double quotes allows for using apostrophes in text. \n indicates a line change. Indexing begins at 0

Lists:Lists can be list of any obect. The are immutable. lists can be added to with the methods .add or .amend. Lists can have the last in the list removed using the method .pop Lists are written in square brackets [1,2,3]

Tuples:Tuples are the same as lists but are written in normal barckets as (1,2,3). nTuples are not immutable so are used when data needs to remain unchanged

Dictionaries:(Known as hash tables in other languages. They are written with curly brackets. my_dict = {'KEY 1' : 'value1', 'KEY 2' : 'value 2'}. Dictionaries have a key and a value. They can start as empty dictionaries and have keys and values added to them. Dictionaries do not retain any order

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [70]:
(2000 - ( 10 ** 2) / 12 * 34) -19627.75

-17899.75

Explain what the cell below will produce and why. Can you change it so the answer is correct?

In [71]:
2/3.0

0.6666666666666666

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) =44
    
    What is the value of the expression 4 * 6 + 5 =29
    
    What is the value of the expression 4 + 6 * 5 =34

In [9]:
4+6*5

34

What is the *type* of the result of the expression 3 + 1.5 + 4?

In [74]:
#Floating point number

What would you use to find a numberâ€™s square root, as well as its square?

In [75]:
10 ** 2

100

## Strings

Given the string 'hello' give an index command that returns 'e'. Use the code below:

In [19]:
s = 'hello'
# Print out 'e' using indexing

# Code here
s[1]

'e'

Reverse the string 'hello' using indexing:

In [23]:
s ='hello'

# Reverse the string using indexing

# Code here
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [26]:
s ='hello'

# Print out the

# Code here
s[4]
s[4:]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [77]:
l = [0,0,0,]
print l
print [0]*3

[0, 0, 0]
[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' item in this list:

In [34]:
l = [1,2,[3,4,'Goodbye']]
l[2][2]

'Goodbye'

Sort the list below:

In [38]:
l = [5,3,4,6,1]
l.sort()
l

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [44]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [45]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [78]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'] [0] ['nest_key'] [1][0]

'hello'

In [79]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

d ['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not? Dictionaries hold non sorted data and do not retain any order

NO. Dictionaries hold non sorted data and do not retain any order

## Tuples

What is the major difference between tuples and lists? Tuples are immutable lists can be changed

Tuples are immutable lists can be changed

How do you create a tuple?

t = (1,2,3)
t

## Sets

What is unique about a set?

Use a set to find the unique values of the list below:

In [63]:
l = [1,2,2,33,4,4,11,22,3,3,2]
set(l)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators:

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
</tr>
<tr>
<td>&lt;&gt;</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a &lt;&gt; b) is true. This is similar to != operator.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [64]:
# Answer before running cell = false
2 > 3

False

In [65]:
# Answer before running cell = false
3 <= 2

False

In [66]:
# Answer before running cell = False
3 == 2.0

False

In [67]:
# Answer before running cell = True
3.0 == 3

True

In [68]:
# Answer before running cell = True
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [69]:
# two nested lists = False 3 is less than 4
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

#True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!