In [5]:
st = 'Print only the words that start with s in this sentence'

for word in st .split():
     if word[0]== "s":
        print word

start
s
sentence

In [6]:
st  = 'Print only the words that begin with p in this practice sentance'

for word in st.split():
    if word[0]=='p':
        print word

p
practice

In [8]:
st = 'This is a pretty common sentance so pick out the words beginning with c'

for word in st .split():
    if word [0]== 'c':
        print word

common
c

In [ ]:
# write a program that prints the integers from 0 to 100. 
#For numbers that are multiples of five write Fizz  and for 
#numbers that are multiples of 10 write  Buzz and for numbers 
#that are multiples of five and 10 write Fizzbuzz

In [17]:
for num in xrange(0,51):
    if num %5 == 0 and num %10 == 0:
        print "Fives and Tens"
    elif num %5 == 0:
        print "Fives only"
    elif num %10 == 0:
        print "tens only"
    else:
        print num

Fives and Tens
1
2
3
4
Fives only
6
7
8
9
Fives and Tens
11
12
13
14
Fives only
16
17
18
19
Fives and Tens
21
22
23
24
Fives only
26
27
28
29
Fives and Tens
31
32
33
34
Fives only
36
37
38
39
Fives and Tens
41
42
43
44
Fives only
46
47
48
49
Fives and Tens

In [22]:
#Use List comprehension to create a list of all numbers between 
#1 and 50 that are divisible by a chosen number

In [21]:
[ x for x in range(1,51) if x%3 ==0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [23]:
[x for x in range (1,51) if x %5==0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [25]:
[x for x in range (1,101) if x%10==0]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [26]:
[x for x in range (1, 101) if x%6 ==0]

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

In [27]:
[x for x in range(1,101) if x %7 ==0]

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [37]:
st  = 'Print only the words that begin with p in this practice sentance'

for word in st .split():
    if word[0] ==  'p':
        print word

p
practice

In [39]:
st  = 'Print only the words that begin with s in this practice sentance'

for word in st .split():
    if word[0] == 's':
        print word

s
sentance

In [41]:
[x for x in range(1,50)if x %3==0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [42]:
[x for x in range (1,101)if x %10 ==0]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [46]:
for num in xrange(1,51):

    if num %5 == 0:
        print 'Ooh vada'

Ooh vada
Ooh vada
Ooh vada
Ooh vada
Ooh vada
Ooh vada
Ooh vada
Ooh vada
Ooh vada
Ooh vada

In [2]:
st()

NameError: name 'st' is not defined

In [4]:
st = 'Print only the words in this sentance that begin with the letter s'

for word in st .split():
    if word[0] =='s':
        print word

sentance
s

In [12]:
st = 'pappa poaches pickled peppers for a living but makes nowt'
for word in st .split():
    if word[0] =='p':
        print word

pappa
poaches
pickled
peppers

In [16]:
[y for y in xrange(1,101) if y %10 == 0]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [18]:
[p for p in xrange (10,100) if p %10 ==0]

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [19]:
string = 'Tak me outside and shoot me now as php is not as easy as first thought'

for word in string .split():
    if word[0] == 'n':
        print word

now
not

In [21]:
for num in xrange(0,21):
    if num %5 == 0 and num %10 == 0:
        print "Fives and Tens"
    elif num %5 == 0:
        print "Fives only"
    elif num %10 == 0:
        print "tens only"
    else:
        print num

Fives and Tens
1
2
3
4
Fives only
6
7
8
9
Fives and Tens
11
12
13
14
Fives only
16
17
18
19
Fives and Tens

In [25]:
for num in xrange(0,51):
    if num %2 ==0 and num %10 ==0:
        print 'divisible by 2 and 10'
    elif num%5 ==0:
        print 'Only divisible by 5'
    elif num %6 ==0:
        print 'Only divisible by 6'
    else:
        print num

divisible by 2 and 10
1
2
3
4
Only divisible by 5
Only divisible by 6
7
8
9
divisible by 2 and 10
11
Only divisible by 6
13
14
Only divisible by 5
16
17
Only divisible by 6
19
divisible by 2 and 10
21
22
23
Only divisible by 6
Only divisible by 5
26
27
28
29
divisible by 2 and 10
31
32
33
34
Only divisible by 5
Only divisible by 6
37
38
39
divisible by 2 and 10
41
Only divisible by 6
43
44
Only divisible by 5
46
47
Only divisible by 6
49
divisible by 2 and 10

In [31]:
range(0,51,5)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [35]:
[x for x in xrange(0,101) if x %10 ==0]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [36]:
[x for  x in range (250,500) if x %50 ==0]

[250, 300, 350, 400, 450]